#######开放模式############

###############
#    folder   #
###############
/WebRoot/META-INF/



###############
#  fixed file #
###############
*.class
*.jar
*.classpath

###############
#  temp file  #
###############
~*
*.log
*.cmm
*.men
*.ini
*.fig
*.cmp
*.tmp

###############
#    script   #
###############
*.bat

#########保守模式############
!/src/
!/WebRoot/index.jsp/
!/WebRoot/WEB-INF/web.xml